<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./tests/autoload.php.dist">
	<testsuites>
		<testsuite name="Storage tests">
			<directory>./tests/Moss/Builder/MySQL/</directory>
			<directory>./tests/Moss/Model/</directory>
			<directory>./tests/Moss/Query/</directory>
		</testsuite>
	</testsuites>
</phpunit>