<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./tests/autoload.php.dist">
	<testsuites>
		<testsuite name="Storage tests">
			<directory>./builder/mysql/</directory>
			<directory>./model/</directory>
			<directory>./query/</directory>
		</testsuite>
	</testsuites>
</phpunit>